<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MARVEL APP{% endblock %}</title>
        {% block stylesheets %}<!-- Boostrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        {% endblock %}
        {% block scripts %}
            <!-- JQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!-- Bootstrap JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block header %}
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container">
                        <div class="navbar-brand">
                            Marvel App
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="nav-link" href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
            {% block body %}
            {% endblock %}
            <a href=\"http://marvel.com\">Data provided by Marvel. © 2018 MARVEL</a>
        </div>
    </body>
</html>
